<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/tasks.css" rel="stylesheet">
    <!-- <link href="/css/bd-theme.css" rel="stylesheet"> -->
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/tasks.css" rel="stylesheet">
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/tasks.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

   

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="back-button-m" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a> 
        <a class="btn-see-members" href="/menu"><span class="glyphicon glyphicon-user"></span></a>
        <a class="navbar-brand" href="/index">{{name1.groupName}}</a>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="back-button"><a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>    
<!--           <li>
            <a href="/menu"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
          </li> -->
          <li><a href="/index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/details"><span class="glyphicon glyphicon-user"></span> ACCOUNT</a></li>
          <li><a href="/notifications"><span class="glyphicon glyphicon-exclamation-sign"></span> NOTIFICATIONS</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-off"></span> LOGOUT</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  
  <div class="container heading">
    <h4><strong>Tasks</strong></h4>
    <h5><a href="/addtask/{{name1.groupName}}">+ Add Task</a></h5>
  </div>

  {{#each tasks}}
  <div class = "container notification-box">
    <div class="row task1">
      <div class="left collapse-group">
        <h4 id="{{pin}}">{{taskName}}</h4>
        <p id="priority">
           <strong>Priority: </strong><span>{{priority}}</span>
        </p>
        <p id="date"> 
          <strong>Due Date: </strong><span>{{date}}</span> 
        </p>
        <p id="desc" class="collapse">
          <strong>Description: </strong><span>{{description}}</span>
        </p>
         <p><a class="btn-detail" href="#">View Details</a></p>
      </div>
        <label><input id="check" type="checkbox"> Completed</label>
        <a id ="remind" href="/remind" class="btn btn-default">Remind</a>
    </div>
  </div>
  {{/each}}

  <!-- <footer>
    <div class="left">
    <a class="btn-see-members" href="/menu"><span class="glyphicon glyphicon-user"></span></a>
    </div>
    <div class="right">
    <a class="btn-add-task" href="/addtask/{{name1.groupName}}"><span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>
  </footer> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-87923824-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
